.cat-info {
  display: flex;
  gap: 20px;
}
.cat-descr {
  width: 300px;
}

.descr-text {
  font-size: 14px;
  font-weight: 400;
}

.cat-img {
  width: 300px;
  height: auto;
}

.breed-select {
  width: 300px;
}
